<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cintel.elp.repository.basicfun.PreOperateDao">
 	<resultMap id="base" type="PreOperate" >
 		<id column="pre_operate_id" property="pre_operate_id" javaType="integer" jdbcType="INTEGER" />
		<result column="operater_name" property="operater_name" javaType="string" jdbcType="VARCHAR" />
		<result column="operate_type" property="operate_type" javaType="string" jdbcType="VARCHAR" />
		<result column="operate_describe" property="operate_describe" javaType="string" jdbcType="VARCHAR" />
		<result column="operate_time" property="operate_time" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
		<result column="approval_state" property="approval_state" javaType="boolean" jdbcType="BOOLEAN" />
		<result column="approval_name" property="approval_name" javaType="string" jdbcType="VARCHAR" />
		<result column="approval_result" property="approval_result" javaType="string" jdbcType="VARCHAR" />
		<result column="approval_proposal" property="approval_proposal" javaType="string" jdbcType="VARCHAR" />
		<result column="approval_time" property="approval_time" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP" />
		<association property="preproject" javaType="Preproject"
			column="pre_id">
			<id property="pre_id" column="pre_id" jdbcType="VARCHAR" />
			<result column="pre_name" property="pre_name" jdbcType="VARCHAR" />
		</association>
	</resultMap>
		
 	<select id="findByPage" resultMap="base" parameterType="PreOperate">
 		 SELECT pre_operate.*, preproject.* FROM pre_operate, preproject 
 		 WHERE pre_operate.pre_id = preproject.pre_id 
 		 and preproject.pre_id = #{param.preproject.pre_id}
  	</select>
  	
  	<select id="findNoApprovalByPage" resultMap="base" parameterType="PreOperate">
 		 SELECT pre_operate.*, preproject.* FROM pre_operate left join preproject
 		 ON pre_operate.pre_id = preproject.pre_id
 		 where pre_operate.approval_state=false
  	</select>
  	
  	<select id="find" resultMap="base" parameterType="PreOperate">
		select * from pre_operate t  where 1 = 1
		<if test="pre_operate_id != null and pre_operate_id != '' ">
        	AND t."pre_operate_id"=#{pre_operate_id}
       </if>
       ORDER BY operate_time<!-- approval_state,approval_result -->
  	</select>
  	
  	<select id="findByPreId" resultMap="base" parameterType="PreOperate">
		select * from pre_operate where pre_id = #{preproject.pre_id}
  	</select>
 	
 	<insert id="insert"  parameterType="PreOperate">	
 	<![CDATA[
	INSERT INTO pre_operate(
	pre_id,
	operater_name,
	operate_type,
	operate_describe,
	operate_time,
	approval_state,
	approval_name,
	approval_result,
	approval_proposal,
	approval_time
	) VALUES (
	#{preproject.pre_id},
	#{operater_name},
	#{operate_type},
	#{operate_describe},
	#{operate_time},
	#{approval_state},
	#{approval_name},
	#{approval_result},
	#{approval_proposal},
	#{approval_time}
	)
	]]>  
	</insert>
	
	<update id="update" parameterType="PreOperate">
		UPDATE pre_operate 
		SET 
			approval_state = #{approval_state},
			approval_name = #{approval_name},
			approval_result = #{approval_result},
			approval_proposal = #{approval_proposal},
			approval_time = #{approval_time}
		WHERE 
			pre_operate_id =  #{pre_operate_id}
	</update>
 	<!-- <select id="find"  resultMap="base" parameterType="Preproject">
       SELECT t.* FROM preproject t WHERE 1=1 
       <if test="pre_id != null and pre_id!='' ">
        	AND t."pre_id"=#{pre_id}
       </if>
    </select> 
    	<update id="update" parameterType="Preproject">
		UPDATE preproject 
		SET 
			"pre_name"  =#{pre_name},
			"pre_kind"  =#{pre_kind},
			"strength"  =#{strength},
			"area"  =#{area},
			"people"  =#{people},
			"climate"  =#{climate},
			"geography"  =#{geography},
			"match"  =#{match}
		WHERE 
			"pre_id"=#{pre_id}
	</update>
	<insert id="insert"  parameterType="Preproject">	
 	<![CDATA[
	INSERT INTO preproject(
	"pre_id",
	"pre_name",
	"pre_kind",
	"strength",
	"area",
	"people",
	"climate",
	"geography",
	"match"
	) VALUES (
	#{pre_id},
	#{pre_name},
	#{pre_kind},
	#{strength},
	#{area},
	#{people},
	#{climate},
	#{geography},
	#{match}
	)
	]]>  
	</insert>
    <select id="count"  resultType="int" parameterType="Preproject">
       SELECT count(*) FROM preproject t WHERE 1=1 
    </select>        
 	
	<delete id="delete" parameterType="Preproject">
	DELETE FROM preproject  WHERE 1=1 
	AND "pre_id"=#{pre_id} 
	</delete>
	<delete id="deleteBatch" parameterType="java.util.List">
	DELETE FROM preproject 
	WHERE "pre_id" IN(
		<foreach item="o" collection="list" open="" separator="," close="" >
			#{o.pre_id}
		</foreach>
		)
	</delete> -->
</mapper>